.albumBox{
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(199,232,231,1) 0%, rgba(234,251,62,1) 35%, rgba(0,255,214,1) 100%);
    border-radius: 7px;
    transition: 0.8s ease-in-out;

}

.albumBox:hover{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,121,9,1) 35%, rgba(232,255,0,1) 100%);
    transform: translateY(-5px);
}

.albumBody{
    width: 80%;
}

.albumBody img{
    width: 100%;
}

.albumTitle{
    margin-top: auto;
    color: aliceblue;
    font-size: 18px;
    font-style: italic;
   
}